/rawdata/*
/rawdata

/data/*
/data

/UKC_CUT_1_hyp_t/*

/UKC_CUT_1_hyp_t

/dataset/*
/dataset

.DS_Store/*
.DS_Store

dataset/
eval-gold-standard/
test-gold-standard/

__pycache__/

slurm-*.out

sentence_embeddings_*.npz
RotE_model_*.pt
wandb/
WSD/outputs/
wsd_before_lora/outputs/
ukc_embedding/data/
ukc_embedding/logs/

sbatch*

geometry/figures/
geometry/rote_2d_visualization/output/
*.pt